html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
html {
  font-size:   75%; /* 12px relative to 16px */
  line-height: 18px;
}
html,
button, input, select, textarea {
  font-family: Arial, Helvetica, Verdana, Tahoma, "Bitstream Vera Sans", sans-serif;
}
html {
  color: rgb(51,51,51); /* darkest gray */
  background-color: white;
}
body {
  margin:0;
  padding:0;
}

.demo-box {
  max-width:50%;
  width:50%;
  overflow:hidden;
  border:0;
  padding:0;
  margin:0;
  display:inline-block;
  position:relative;
  vertical-align:top;
}
.panel {
  height: 400px; 
  background-color: #efefef; 
  padding: 10px; 
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  margin: 10px;
}
.banner {
  text-align: center; 
  background-color: white; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  margin-top: 0px; 
  margin-bottom: 20px; 
  padding: 8px
}
div.calendar {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}
div.calendar table {
  width: 100%;
}
div.dateField {
  width: 175px;
  padding: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  color: #555;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div#popupDateField:hover {
  background-color: #cde;
  cursor: pointer;
}
.calendars {
  display:block;
  border: dotted 1px #999;
}
.calendars li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding:10px;
}
.calendarview-input {
  position: relative;
}

.show-calendar {
  margin-top: 160px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

#embeddedCalendar {
  margin-left: auto;
  margin-right: auto
}

.calendarview-div {
  background:#69c;
  padding: 5px;
  width: 70px;
  text-align:center;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.date-div {
  text-shadow: #000 1px 1px 1px;
}